// Place all the styles related to the flats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.cards {
  display: flex;
  flex-wrap: wrap;
}

.flat-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  background-color: white;
  margin: 24px;
  padding: 16px;
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(23, 127, 251, 0.2);
  div p {
    margin: 0 16px 0 8px;
  }
  div i {
    margin-left: 8px;
    color: rgb(23, 127, 251);
  }
  .card-img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 250px;
  }
}

.flat-show-card {
  width: 500px;
  border-radius: 10px;
  margin: 24px;
  padding: 16px;
  box-shadow: 0 0 5px rgba(23, 127, 251, 0.2);
  div p {
    margin: 0 16px 0 8px;
  }
  div i {
    margin-left: 8px;
    color: rgb(23, 127, 251);
  }
}

.booking-form {
  width: 300px;
  border-radius: 10px;
  margin: 24px;
  padding: 16px;
  box-shadow: 0 0 5px rgba(23, 127, 251, 0.2);
}

.show-img {
  width: 100vw;
  height: 400px;
  background-size: cover;
  background-position: center;
}
